*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #23305c;
  --secondary-color: rgba(21, 20, 57, 0.7);
  --background-color1: #f3f5ff;
  --white: #ffff;
  --orange: #fa5d04;
  --grey: rgba(21, 20, 57, 0.4);
  --BebasNeue: "Bebas";
  --DMSans-Regular: "DMS-Reg";
  --DMSans-Medium: "DMS-Med";
  --DMSans-Bold: "DMS-Bold";
  --font-regular: 16px;
  --font-medium: 18px;
  --font-large: 22px;
  --font-xl: 42px;
  --font-xxl: 58px;
}

@font-face {
  font-family: Bebas;
  src: url(./fonts/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: DMS-Reg;
  src: url(./fonts/DMSans-Regular.ttf);
}
@font-face {
  font-family: DMS-Med;
  src: url(./fonts/DMSans-Medium.ttf);
}
@font-face {
  font-family: DMS-Bold;
  src: url(./fonts/DMSans-Bold.ttf);
}
/* General Elements */
.container {
  width: 60%;
  margin: auto;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show {
  display: flex;
}

.hidden {
  display: none;
}

h3 {
  font-size: var(--font-xl);
  margin: 1rem 0;
}

h5 {
  font-size: var(--font-large);
  color: var(--primary-color);
  font-weight: 600;
}

body {
  font-family: var(--DMSans-Regular);
  color: var(--primary-color);
  scroll-behavior: smooth;
}

section {
  width: 100%;
}

/* Header */
.header {
  width: 100%;
  background-color: var(--white);
  position: fixed;
  z-index: 5;
}

nav {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: auto;
  padding: 1rem 0;
  color: var(--primary-color);
  font-family: var(--DMSans-Medium);
  /* Animation for Nav Button*/
}
nav .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: var(--BebasNeue);
  font-size: 38px;
}
nav ul {
  display: flex;
  gap: 2rem;
  position: relative;
  transition: all 1s ease-in-out;
}
nav ul li {
  display: flex;
  align-items: center;
  list-style: none;
}
nav ul li a {
  font-family: var(--DMSans-Medium);
  font-size: var(--font-medium);
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.3s;
  padding: 0 1rem;
}
nav ul li a:hover {
  color: var(--orange);
}
nav ul li:last-child {
  background-color: var(--orange);
  border-radius: 100px;
  transition: 0.5s;
}
nav ul li:last-child:hover {
  border: 1px solid var(--orange);
  background-color: var(--white);
}
nav ul li:last-child:hover a {
  color: var(--orange);
}
nav ul li:last-child a {
  color: var(--white);
}
nav .nav-btn {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 60px;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  transition: all 0.5s ease-in-out;
  display: none;
  z-index: 5;
}
nav .nav-btn .nav-btn-burger {
  display: flex;
  width: 50px;
  height: 6px;
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
nav .nav-btn .nav-btn-burger::before, nav .nav-btn .nav-btn-burger::after {
  width: 50px;
  height: 6px;
  position: absolute;
  content: "";
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
nav .nav-btn .nav-btn-burger::before {
  transform: translateY(-16px);
}
nav .nav-btn .nav-btn-burger::after {
  transform: translateY(16px);
}
nav .open .nav-btn-burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
nav .open .nav-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
nav .open .nav-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* Hero Section */
#hero {
  position: relative;
  width: 100%;
  height: 70vh;
  background: url(./images/job-gf41f21756_1920-1.jpg) center no-repeat;
}
#hero .container {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: transparent;
}
#hero .container h1 {
  width: 50%;
  font-size: var(--font-xxl);
  color: var(--white);
  margin-bottom: 2rem;
}
#hero .container p {
  width: 45%;
  color: var(--white);
  font-size: var(--font-medium);
  margin-bottom: 2rem;
}
#hero .container a {
  width: 210px;
  text-decoration: none;
  background-color: var(--orange);
  padding: 1rem 3rem;
  color: var(--white);
  font-size: 20px;
  border-radius: 8px;
  transition: 0.5s;
  text-align: center;
}
#hero .container a:hover {
  background-color: var(--white);
  color: var(--orange);
  border: 1px solid var(--orange);
}

#about-us {
  background-color: var(--background-color1);
  padding: 5rem 0;
}
#about-us .container {
  width: 45%;
  justify-content: center;
}
#about-us .container .logos {
  display: flex;
  gap: 3em;
}
#about-us .container h3 {
  font-size: var(--font-xl);
  margin: 2rem 0;
}
#about-us .container p {
  font-size: var(--font-large);
  color: rgba(21, 20, 57, 0.5);
  text-align: center;
}

#our-services {
  margin: 4rem 0;
}
#our-services h3 {
  font-size: var(--font-xl);
  margin-bottom: 3rem;
}
#our-services .container {
  flex-wrap: wrap;
}
#our-services .container .designs {
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
}
#our-services .container .designs .design {
  display: flex;
  flex: 30%;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#our-services .container .designs .design img {
  width: 2rem;
  height: 2rem;
}
#our-services .container .designs .design b {
  font-size: var(--font-medium);
  margin: 1rem 0;
  text-align: center;
}
#our-services .container .designs .design p {
  color: rgba(21, 20, 57, 0.4);
  text-align: center;
}

#tech-stack {
  display: flex;
  width: 100%;
  padding: 5rem 0;
  position: relative;
  min-height: 70vh;
  background: url(./images/tech-stack-bg-e1645802324815.png) center no-repeat;
  background-color: var(--primary-color);
  background-size: cover;
}
#tech-stack .container {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
}
#tech-stack .container .left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 30%;
  justify-content: space-around;
  order: 1;
}
#tech-stack .container .left .img {
  display: flex;
  width: 200px;
  height: 150px;
}
#tech-stack .container .left .img img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#tech-stack .container .right {
  order: 2;
  flex: 50%;
  color: var(--white);
}
#tech-stack .container .right h3 {
  font-size: var(--font-xl);
  margin: 1rem 0;
}
#tech-stack .container .right p {
  font-size: var(--font-large);
  font-weight: 500;
}

#our-process {
  margin: 3rem 0;
}
#our-process h5 {
  color: rgba(21, 20, 57, 0.4);
  margin: 1rem 0;
  font-size: var(--font-regular);
}
#our-process h3 {
  font-size: var(--font-xl);
  font-weight: 700;
}
#our-process .container .steps {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 1rem 0;
  gap: 1rem;
}
#our-process .container .steps .step {
  margin: 2rem 0;
  justify-content: flex-start;
}
#our-process .container .steps .step span {
  font-family: var(--DMSans-Regular);
  font-size: var(--DMSans-Medium);
}
#our-process .container .steps .step h5 {
  font-size: var(--font-large);
  color: var(--primary-color);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}
#our-process .container .steps .step .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: var(--background-color1);
  border-radius: 50%;
  margin: 0 0 3rem 0;
}
#our-process .container .steps .step p {
  text-align: center;
}

#the-firm-tech-crews {
  margin: 3rem 0;
  display: flex;
  width: 100%;
}
#the-firm-tech-crews .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#the-firm-tech-crews .container h3 {
  margin: 0 0 5rem 0;
}
#the-firm-tech-crews .container .crews {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}
#the-firm-tech-crews .container .crews .crew {
  display: flex;
  flex-direction: column;
  width: 20%;
}
#the-firm-tech-crews .container .crews .crew img {
  border-radius: 10px;
  margin-bottom: 2rem;
}
#the-firm-tech-crews .container .crews .crew h5 {
  text-align: center;
  font-size: var(--font-large);
  color: var(--primary-color);
  font-weight: 600;
}
#the-firm-tech-crews .container .crews .crew ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  margin: 1rem;
}
#the-firm-tech-crews .container .crews .crew ul li a i {
  font-size: 2rem;
}
#the-firm-tech-crews .container .crews .crew ul li a .fa-linkedin-square {
  color: #0d68c3;
}
#the-firm-tech-crews .container .crews .crew ul li a .fa-facebook-square {
  color: #4267b2;
}
#the-firm-tech-crews .container .crews .crew ul li a .fa-instagram {
  color: #f3f5ff;
  border-radius: 5px;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
#the-firm-tech-crews .container .crews .crew p {
  color: var(--grey);
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.2rem;
  font-weight: 700;
}

#contacts {
  background-color: var(--background-color1);
  padding: 3rem 0;
}
#contacts .container {
  width: 60%;
  text-align: center;
}
#contacts .container form {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
#contacts .container form .message {
  display: block;
  width: 100%;
  margin: auto;
  padding: 1rem;
  height: 300px;
  border-radius: 10px;
  font-size: 1rem;
  font-family: var(--DMSans-Medium);
  color: var(--primary-color);
  border: 1px solid #cedbff;
}
#contacts .container form div {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
#contacts .container form div .email {
  font-size: 1rem;
  border: 1px solid #cedbff;
  width: 70%;
  padding: 1rem;
  color: var(--primary-color);
}
#contacts .container form div .submit {
  text-decoration: none;
  background-color: var(--orange);
  padding: 1rem 3rem;
  color: var(--white);
  font-family: var(--DMSans-Medium);
  font-size: 20px;
  border-radius: 8px;
  border: none;
}

footer {
  background-color: var(--primary-color);
  padding: 5rem 0;
}
footer .container {
  display: flex;
  width: 60%;
}
footer .container div {
  width: 40%;
}
footer .container div ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer .container div ul a {
  text-decoration: none;
  color: var(--white);
}
footer .container .middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
footer .container .middle .bottom-logo {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;
  font-family: var(--BebasNeue);
  font-size: var(--font-large);
  color: var(--white);
}
footer .container .middle p {
  color: var(--background-color1);
  margin: 3rem;
  text-align: center;
}

@media (max-width: 1440px) {
  .container {
    width: 80%;
  }
  nav,
.container {
    width: 80%;
  }
  #hero .container {
    width: 60%;
  }
  #contacts .container {
    width: 80%;
  }
  #contacts .container form {
    width: 60%;
  }
  footer .container {
    width: 80%;
  }
  footer .container div ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
@media (max-width: 1040px) {
  nav {
    width: 80%;
    flex-direction: column;
  }
  nav .nav-btn {
    display: flex;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    height: 95vh;
  }
  #hero .container {
    width: 80%;
  }
  #our-process .container .steps {
    flex-direction: column;
  }
  #our-process .container .steps .step {
    width: 50%;
    margin: auto;
  }
  #tech-stack .container {
    flex-direction: column;
  }
  #tech-stack .container .left {
    flex-direction: column;
    align-items: center;
  }
  #tech-stack .container .left .img {
    display: flex;
  }
  #tech-stack .container .right {
    order: 1;
  }
}
@media (max-width: 768px) {
  nav {
    width: 90%;
  }
  nav ul {
    display: none;
  }
  #hero .container {
    width: 80%;
  }
  #hero .container h1 {
    width: 80%;
  }
  #about-us .container {
    width: 60%;
  }
  #our-services .container .designs {
    flex-direction: column;
  }
  #our-process .container .steps {
    flex-direction: column;
  }
  #tech-stack .container {
    flex-direction: column;
  }
  #tech-stack .container .left {
    flex-direction: column;
    align-items: center;
  }
  #tech-stack .container .left .img {
    display: flex;
  }
  #tech-stack .container .right {
    order: 1;
  }
  #the-firm-tech-crews .container .crews {
    flex-direction: column;
  }
  #the-firm-tech-crews .container .crews .crew {
    width: 50%;
    margin: auto;
  }
  #contacts .container {
    width: 80%;
  }
  #contacts .container form {
    width: 80%;
  }
  footer .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  footer .container .left {
    order: 2;
  }
  footer .container .left div ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  footer .container .middle {
    order: 1;
  }
}
@media (max-width: 480px) {
  nav {
    width: 100%;
    padding: 1rem;
  }
  nav ul {
    display: none;
  }
  #hero .container {
    align-items: center;
    width: 100%;
  }
  #hero .container h1 {
    width: 90%;
    font-size: 48px;
    text-align: center;
  }
  #hero .container p {
    width: 60%;
    text-align: center;
  }
  #about-us .container {
    width: 80%;
  }
  #our-process .container .steps {
    flex-direction: column;
  }
  #our-process .container .steps .step {
    width: 80%;
  }
  #tech-stack .container {
    flex-direction: column;
  }
  #tech-stack .container .left {
    flex-direction: column;
    align-items: center;
  }
  #tech-stack .container .left .img {
    display: flex;
  }
  #tech-stack .container .right {
    order: 1;
  }
  #tech-stack .container .right h3 {
    text-align: center;
  }
  #tech-stack .container .right p {
    text-align: center;
  }
  #the-firm-tech-crews .container .crews {
    flex-direction: column;
  }
  #the-firm-tech-crews .container .crews .crew {
    width: 60%;
    margin: auto;
  }
  #contacts .container {
    width: 90%;
  }
  #contacts .container h3 {
    font-size: 32px;
  }
  #contacts .container form {
    width: 100%;
  }
  footer .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  footer .container .left {
    order: 2;
    width: 90%;
  }
  footer .container .left div ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  footer .container .middle {
    order: 1;
    width: 90%;
  }
}/*# sourceMappingURL=styles.css.map */